{% extends "base.html" %}
{% block content %}

<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 100vh; background-color: #f5f5f5; padding-top: 50px;">
  <h1 style="font-size: 24px; margin-bottom: 10px;">Welcome To Our Homepage</h1>
  <h3 style="font-size: 16px; margin: 5px 0;">You can add any task by clicking on 'Add Task'</h3>
  <h3 style="font-size: 16px; margin: 5px 0;">You can see all incomplete tasks by clicking on 'Show Tasks'</h3>
  <h3 style="font-size: 16px; margin: 5px 0;">You can see all completed tasks by clicking on 'Completed Tasks'</h3>
</div>


{% endblock %}
